.whatsapp {
  position: fixed;
  bottom: 125px;
  right: 25px;
  background-color: green;
  color: white;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 1000;
}

.whatsapp:hover {
  background-color: #0056b3;
}
