.contact {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
.first {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.icons {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.icon {
  padding: 10px;
  background-color: #222;
  color: white;
  border-radius: 5px;
}

.second {
  display: flex;
  flex-direction: column;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  & input {
    height: 50px;
    padding: 8px;
    border: none;
    outline: none;
    background-color: transparent;
    border: 1px solid gray;
  }
  & textarea {
    height: 80px;
    padding: 8px;
    border: none;
    outline: none;
    background-color: transparent;
    border: 1px solid gray;
  }
}
.child {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
@media (max-width: 900px) {
  .contact {
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
  }
}
