* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar {
  background-color: #0c9ecc;
  color: #fff;
  padding: 1rem;
  width: 100vw;
  height: 70px;
  display: flex;
  align-items: center;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 88%;
  margin: 0 auto 0 auto;
  display: flex;
  justify-content: space-between;

  & img {
    width: 70px;
    height: 70px;
  }
}

.navbar-menu {
  list-style-type: none;
  display: flex;
  padding: 0;
}

.navbar-menu li {
  margin-right: 1rem;
}

.navbar-menu li a {
  font-size: 20px;
  text-decoration: none;
  color: #fff;
  transition: color 0.3s ease;
}

.navbar-menu li a:hover {
  color: #ccc;
}

.menu-icon {
  display: none;
  cursor: pointer;
  font-size: 30px;
}

.nav-link:hover {
  border-bottom: 5px solid green;
  border-radius: 2px;
  padding-bottom: 3px;
  transition: 1s;
}

@media screen and (max-width: 768px) {
  .navbar-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    align-items: center;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    top: 4rem;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #0c9ecc;
    padding: 1rem 0;
    z-index: 100;
  }

  .navbar-menu.open {
    display: flex;
  }

  .menu-icon {
    display: block;
  }
}
